h2{
    text-align: center;
}
.botones_menu{
    width: 100%;
    height: 60px;
    background-color: rgb(57, 153, 153);
    display: flex;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
}
.fondo_sesion{
    width: 65%;
    height: 500px;
    margin-top: 25px;
    margin-left: 17%;
    background-color: rgb(57, 153, 153);
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botones_menu{
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn{
    border: 3px solid #000000;
    background-color: white;
    width:225px;
    height:50px;
    font-size:18px;
    cursor: pointer;
}
.div_registrar{
    background-color: aliceblue;
    width: 95%;
    height: 90%;
    border: 3px solid black;
    border-radius: 10px;
    padding: -15px;
    
}
.content{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.div_datos{
    background-color: aliceblue;;
    width: 80%;
    text-align: right;
}
.div_datos1{
    background-color: aliceblue;;
    width: 80%;
    text-align: right;
}
.div_btn_com{
    text-align: center;
}
a{
    text-decoration: none;
    color: #000000;
} 
