a{
    text-decoration: none;
    color: #000000;
} 
.botones_menu{
    width: 100%;
    height: 60px;
    background-color: rgb(57, 153, 153);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 10px;
}
button{
    border: 3px solid #000000;
    background-color: white;
    width:225px;
    height:50px;
    font-size:18px;
    cursor: pointer;
}

.imagenes{
    width: 100%;
    text-align: center;
}

.informacion{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.restaurante {

    width: 400px; 
    height: 250px; 
    border: 3px solid #000000;
    background: #1fadd1;
    position: relative;
    top: 5px;
    left: 5px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:40px;
    padding-right:40px;
    border-radius:20px;
}

.bandeja {

    width: 400px; 
    height: 250px; 
    border: 3px solid #000000;
    background: #1fadd1;
    position: relative;
    top: 5px;
    left: 30px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:40px;
    padding-right:40px;
    border-radius:20px;
}

.ajiaco {

    width: 400px; 
    height: 250px; 
    border: 3px solid #000000;
    background: #1fadd1;
    position: relative;
    top: 5px;
    left: 55px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:40px;
    padding-right:40px;
    border-radius:20px;
}

.Srv {
    width: 400px; 
    height: 200px; 
    border: 3px solid #000000;
    margin: 30px;
    background: #1fadd1;
    border-radius:20px;
    text-align:center;
}

.Mn {

    width: 400px; 
    height: 200px; 
    border: 3px solid #000000;
    margin: 30px;
    background: #1fadd1;
    border-radius:20px;
    text-align:center;
}

.Cnt {

    width: 400px; 
    height: 200px; 
    border: 3px solid #000000;
    background: #1fadd1;
    margin: 30px;
    border-radius:20px;
    text-align:center;
}

.ORDEN {
    width: 200px; 
    height: 300px; 
    border: 3px solid #000000;
    background: #1fadd1;
    border-radius:20px;
    text-align:center;
}
.ESTADO {

    width: 200px; 
    height: 300px; 
    border: 3px solid #000000;
    background: #1fadd1;
    border-radius:20px;
    text-align:center;
}

.PAGOS {

    width: 200px; 
    height: 300px; 
    border: 3px solid #000000;
    background: #1fadd1;
    border-radius:20px;
    text-align:center;
}
.ATENCION {

    width: 200px; 
    height: 300px; 
    border: 3px solid #000000;
    background: #1fadd1;
    border-radius:20px;
    text-align:center;
}
.BENEFICIO {

    width: 200px; 
    height: 300px; 
    border: 3px solid #000000;
    background: #1fadd1;
    border-radius:20px;
    text-align:center;
}

.rectangulo2 {
    width: 100%; 
    height: 100px; 
    border: 3px solid #000000;
    background: #000000;
    font-size:18px;
    text-align:center;
}